### Notebook *NB01d – Merge dataset financiero + sentimiento (BASE)*  
**Autor:** Jesús Daniel Romeral Cortina

**Objetivo:**

Integración inicial de las variables financieras y de sentimiento: Merge simple por fecha. Dataset completo para su uso en los modelos.

In [ ]:
import pandas as pd
import os

In [8]:
SP_PATH   = "../../datos/sp500_model.csv"
SENT_PATH = "../../datos/sentiment_daily.csv"
OUT_PATH  = "../../datos/sp500_sent_model.csv"

In [ ]:
sp = pd.read_csv(SP_PATH, parse_dates=["Date"])
sent= pd.read_csv(SENT_PATH, parse_dates=["Date"])

In [ ]:
sp["Date"] = pd.to_datetime(sp["Date"]).dt.normalize()
sent["Date"]   = pd.to_datetime(sent["Date"]).dt.normalize()

sent = sent.groupby("Date", as_index=False).mean(numeric_only=True)

df_sp_sent = sp.merge(sent, on="Date", how="left")




df_sp_sent ["has_news"] = df_sp_sent ["n_news"].notna().astype(int)
df_sp_sent["sentiment_filled"] = df_sp_sent["sentiment_mean"].fillna(0) 
df_sp_sent["n_news_filled"] = df_sp_sent["n_news"].fillna(0)

In [11]:

print("Filas sp:", len(sp), " | Filas final:", len(df_sp_sent))
print("Rango fechas:", df_sp_sent["Date"].min(), "->", df_sp_sent["Date"].max())
df_sp_sent.head()

Filas sp: 2811  | Filas final: 2811
Rango fechas: 2013-01-02 00:00:00 -> 2024-03-04 00:00:00

,Date,Close,High,Low,Open,Volume,Return,Target_1d,Return_5d_forward,Target_5d,...,ret_lag_5,ret_ma_5,ret_std_5,ret_ma_10,ret_std_10,sentiment_mean,n_news,has_news,sentiment_filled,n_news_filled
0,2013-01-02,1462.420044,1462.430054,1426.189941,1426.189941,4202600000,0.025403,0,-0.000957,0,...,-0.002440,0.005058,0.015419,0.002286,0.012203,0.470913,4.0,1,0.470913,4.0
1,2013-01-03,1459.369995,1465.469971,1455.530029,1462.420044,3829730000,-0.002086,1,0.008737,1,...,-0.004787,0.005598,0.015030,0.000928,0.011814,0.000000,2.0,1,0.000000,2.0
2,2013-01-04,1466.469971,1467.939941,1458.989990,1459.369995,3424290000,0.004865,0,0.003805,1,...,-0.001218,0.006815,0.014580,0.002174,0.011468,0.000000,1.0,1,0.000000,1.0
3,2013-01-07,1461.890015,1466.469971,1456.619995,1466.469971,3304970000,-0.003123,0,0.006013,1,...,-0.011050,0.008400,0.012423,0.001313,0.011515,0.000000,2.0,1,0.000000,2.0
4,2013-01-08,1457.150024,1461.890015,1451.640015,1461.890015,3601600000,-0.003242,1,0.010424,1,...,0.016942,0.004363,0.012231,0.001926,0.011035,0.244576,3.0,1,0.244576,3.0

In [12]:
df_sp_sent.to_csv(OUT_PATH, index=False)

if os.path.exists(OUT_PATH): 
    print(f"Archivo guardado correctamente en {OUT_PATH}") 
else: 
    print("Error: el archivo no se ha guardado.")

Archivo guardado correctamente en ../../datos/sp500_sent_model.csv